tunnel: CREDENTIALS_FILE_PLACEHOLDER
credentials-file: /etc/cloudflared/CREDENTIALS_FILE_PLACEHOLDER.json
ingress:
  - hostname: web-dev1-api.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-assignment.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-submission.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-grading.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-result.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-notification.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-argocd.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-keycloak.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-rustfs.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-grafana.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-otlp.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - hostname: web-dev1-pyroscope.vucongtuanduong.dpdns.org
    service: http://localhost:GATEWAY_PORT
  - service: http_status:404